.card {
    margin: 20px;
    height: 15em;
    width: 15em;
    background-color: #f8df8b;
    border-radius: 50%;
  }
  
  .card-title {
    margin-bottom: 1em;
    font-size: 20px;
    margin-top: 1.5em;
    color: #aa6215;
  }
  
  .card-info {
    font-size: 15px;
    margin-left: 20px;
  }

  #closeIcon {
    display: flex;
    /* justify-content: flex-end; */
    color: rgba(128, 128, 128, 0.473);
    margin-top: 1em;
    margin-left: 6em;
    font-size: 1em;
    border-radius: 5em;
    background-color: transparent;
    border-width: 0px;
  }
  
  .card-body {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  